.message {
  margin: 16px 0 0;
  display: flex;
}

.message__value {
  box-sizing: border-box;
  padding: 10px 12px;
  max-width: calc(70% + 40px);
  border-radius: 24px;
  word-wrap: break-word;
}

.message__value--theme-primary {
  background-color: #d2e3fc;
  color: #174ea6;
}

.message__value--theme-secondary {
  background-color: #ceead6;
  color: #0d652d;
}
